EVAL_BASE_URL=http://20.207.122.201/evaluation-service
EVAL_EMAIL=
EVAL_NAME=
EVAL_ROLL_NO=
EVAL_ACCESS_CODE=
EVAL_CLIENT_ID=
EVAL_CLIENT_SECRET=
BACKEND_PORT=3001
FRONTEND_ORIGIN=http://localhost:5173
